@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.columns{
    column-count: 4;
    column-width: 250px;
}



body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  /* padding: 400px; */
}

/* section{
  background-color: bisque;
  border-end-end-radius: 50%;
  border: 1px solid #333;
  padding: 1rem;
  overflow: auto;
} */
